<h1>Show Category</h1>

<h2><%= @category.name %></h2>

<%= link_to "Back", categories_path %> |

<%= link_to "Edit", edit_category_path(@category) %> |
<%= link_to "Delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?"} %>




