<h1>Listing Manufacturers</h1>

<% @manufacturers.each do |manufacturer| %>
    <h3><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></h3>
<% end %>

<%= link_to "Add Manufacturer", new_manufacturer_path %>